.container {
	 display: flex;
	 justify-content: center;
	 align-items: center;
     overflow: hidden;
	 width:100%;
	 margin: 0.5em 0;
}
 .container .card {
	 flex: 1;
	 transition: all 1s ease-in-out;
	 height: 75vmin;
	 position: relative;
}
 .container .card .card__head {
	 color: #B6D9FB; 
	 background: rgba(0, 102, 204, 0.75);
	 padding: 0.5em;
	 transform: rotate(-90deg);
	 transform-origin: 0% 0%;
	 transition: all 0.2s ease-in-out;
	 min-width: 100%;
	 text-align: center;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 font-size: 1em;
     white-space: nowrap;
     text-transform: uppercase ;
}
 .container .card:hover {
	 flex-grow: 6;
}
 .container .card:hover img {
	 filter: grayscale(0);
}
 .container .card:hover .card__head {
	 text-align: center;
	 top: calc(100% - 2em);
	 color: #B6D9FB;
	 background: rgba(0, 102, 204, 0.75);
	 font-size: 2em;
	 transform: rotate(0deg) skew(-5deg);
}
 .container .card img {
	 width: 100% !important;
	 height: 100% !important;
	 object-fit: cover !important;
	 transition: all 1s ease-in-out;
	 filter: grayscale(100%);
}
 .container .card:not(:nth-child(3)) {
	 margin-right: 0.5em;
}
 
 